#!/usr/bin/make -f

# generate documentation unless nodoc requested
ifeq (,$(filter nodoc,$(DEB_BUILD_OPTIONS)))
DOCS = README.html README.txt
endif

ESLINT = eslint
MOCHA = mocha --no-timeout
# normalize output with TAP where possible unless terse requested
ifeq (,$(filter terse,$(DEB_BUILD_OPTIONS)))
ESLINT += --format tap
MOCHA += --reporter tap
else
ESLINT += --format unix
MOCHA += --reporter dot --no-colors
endif

override_dh_clean:
	dh_clean -- $(DOCS)

override_dh_auto_build: $(DOCS)
	rollup --no-esModule --config

# TODO: lint-check src/get-static-value.js
# TODO: lint-check docs/.vuepress/config.js
# TODO: check with mocha when node module esm is in Debian
#       and then also apply patch in bug#1006359
override_dh_auto_test:
	$(ESLINT) --ignore-pattern src/get-static-value.js src test
#	$(ESLINT) docs/.vuepress/config.js src test rollup.config.js
#	$(MOCHA)

override_dh_installdocs:
	dh_installdocs --all -- $(DOCS)

override_dh_clean:
	dh_clean -- $(DOCS)

%.html: %.md
	cmark-gfm $< > $@

%.txt: %.md
	cmark-gfm --to plaintext $< > $@

%:
	dh $@
